const jobSchema = new mongoose.Schema(
    {
        recruiter_email: { type: String, required: true },
        company: { type: String, required: true },
        type: { type: String, required: true },
        designation: { type: String, required: true },
        salary: { type: String, required: true },
        location: { type: String, required: true },
        vacancies: { type: Number, required: true },
        experience: { type: String, required: true },
        skills: [String],
        description: { type: String, required: true },
        applicants: [{ type: mongoose.Schema.Types.ObjectId, ref: "JobSeeker" }],
    },
    { collection: "Job" }
);

const recruiterSchema = new mongoose.Schema(
    {
        name: { type: String, required: true },
        email: { type: String, required: true, unique: true },
        role: { type: String, required: true },
        password: { type: String, required: true },
        jobPosted: [{ type: mongoose.Schema.Types.ObjectId, ref: "Job" }],
        lastVisit: { type: Date },
    },
    { collection: "Recruiter" }
);

const jobSeekerSchema = new mongoose.Schema(
    {
        name: { type: String, required: true },
        email: { type: String, required: true, unique: true },
        role: { type: String, required: true },
        password: { type: String, required: true },
        jobsApplied: [{ type: mongoose.Schema.Types.ObjectId, ref: "Job" }],
        profile: {
            name: { type: String, default: null },
            email: { type: String, default: null },
            phone: { type: String, default: null },
            gender: { type: String, default: null },
            education: { type: String, default: null },
            experience: { type: String, default: null },
            skills: { type: [String], default: [] },
            resume: { type: String, default: null },
        },
        lastVisit: { type: Date },
    },
    { collection: "JobSeeker" }
);



 
<% if(message){ %>
    <div class="registration">
      <h1 class="fail"><%= message %></h1>
    </div>
    <% } %>
    
    <!-- job cards container -->
    <div id="cards-container">
      <% allJobSeekers.forEach(jobSeeker => { %>
      <div class="card">
        <div class="actively-hiring">
          <span><i class="fa-solid fa-user"></i>&#160; &#160;Applicant Details</span>
        </div>
        <div class="company"><%= jobSeeker.name %></div>
        <div class="position">
          <div class="location"><i class="fa-solid fa-user-graduate"></i> &#160; <%= jobSeeker.profile.education %></div>
          <div class="location"><i class="fa-solid fa-phone"></i> &#160; <%= jobSeeker.profile.phone %></div>
          <div class="location"><i class="fa-solid fa-envelope"></i> &#160; <%= jobSeeker.email %></div>
        </div>
        <div class="skills">
          <% jobSeeker.profile.skills && jobSeeker.profile.skills.forEach(skill => { %>
          <span class="skill cursor-pointer"><%= skill %></span>
          <% }) %>
        </div>
        <div class="position">
    
    
          <!-- Applied for:
          <div class="location"><%= jobSeeker.appliedForPosition %></div>
          <div class="location"><%= jobSeeker.appliedJobCompany %></div> -->
        </div>
        <div>
        
            <button class="view-details-btn cursor-pointer" onclick="showPdf(<%= jobSeeker.profile.resume%>)">View Resume</button>
        
        </div>
        </div>
        
        <% }) %>
        <div class="overlay hidden"></div>
    
        <!-- -->
      </div>
    </div>
    








    <% if(message){ %>
      <div class="registration">
          <h1 class="fail"><%= message %></h1>
      </div>
      <% } %>
      
      <!-- job cards container -->
      
      <% jobs.forEach(job => { return ( %>
      <div id="cards-container">
          <% job.applicants.forEach(jobSeeker => { %>
          <div class="card">
              <div class="actively-hiring">
                  <span><i class="fa-solid fa-user"></i>&#160; &#160;Applicant Details</span>
              </div>
              <div class="company"><%= jobSeeker.name %></div>
              <% if(jobSeeker.profile) { %>
              <div class="position">
                  <div class="location">
                      <i class="fa-solid fa-user-graduate"></i> &#160; <%= jobSeeker.profile.education %>
                  </div>
                  <div class="location">
                      <i class="fa-solid fa-phone"></i> &#160; <%= jobSeeker.profile.phone %>
                  </div>
                  <div class="location"><i class="fa-solid fa-envelope"></i> &#160; <%= jobSeeker.email %></div>
              </div>
              <div class="skills">
                  <% jobSeeker.profile.skills && jobSeeker.profile.skills.forEach(skill => { %>
                  <span class="skill cursor-pointer"><%= skill %></span>
                  <% }) %>
              </div>
              <div class="position">
                  Applied for:
      
                  <div class="location"><%= job.jobDesignation %></div>
                  <div class="location"><%= job.jobCompany %></div>
              </div>
              <div>
                  <button
                      class="view-details-btn cursor-pointer"
                      onclick="showPdf('<%= jobSeeker.profile.resume %>')"
                  >
                      View Resume
                  </button>
              </div>
              <% } %>
          </div>
          <% }) %>
          <div class="overlay hidden"></div>
      </div>
      <% )}) %>
      





    //   navbar


    <navbar class="navbar" id="navbar">
            <div id="logo">easily</div>
            <div class="container">
                <ul id="menu" class="navbar-ul" style="color: white">
                    <li class="cursor-pointer">
                        <a href="/home">Home</a>
                    </li>
                    <% if(userName) { %>
                    <li class="cursor-pointer">
                        <a href="#">Welcome, <%= userName %>.</a>
                        <% if(role == "Recruiter" || role == "recruiter") { %>
                        <div class="dropdown">
                            <ul>
                                <li class="hover-mouse-pointer">
                                    <a href="/create-new-job">Post New Job</a>
                                </li>
                                <li class="hover-mouse-pointer">
                                    <a href="/applicants">View Applicants</a>
                                </li>
                                <li class="hover-mouse-pointer">
                                    <a href="/logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                        <% } else { %>
                        <div class="dropdown">
                            <ul>
                                <li class="hover-mouse-pointer">
                                    <a href="/applied-jobs">View Jobs Applied</a>
                                </li>
                                <li class="hover-mouse-pointer">
                                    <a href="/update-profile">Update Profile</a>
                                </li>
                                <li class="hover-mouse-pointer">
                                    <a href="/logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <% } %> <% if (lastVisit) { %><span class="cookie-text-span"
                        >Last Login:<%= lastVisit %></span
                    >
                    <% } else { %>
                    <span class="cookie-text-span"> visit.</span
                    ><% } %> <% } else { %>
                    <li class="cursor-pointer">
                        <a href="#">Recruiter</a>
                        <div class="dropdown">
                            <ul>
                                <li class="hover-mouse-pointer">
                                    <a href="/recruiter-register">Register</a>
                                </li>
                                <li class="hover-mouse-pointer">
                                    <a href="/recruiter-login">Login</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="cursor-pointer">
                        <a href="#">Job Seeker</a>
                        <div class="dropdown">
                            <ul>
                                <li class="hover-mouse-pointer">
                                    <a href="/user-register">Register</a>
                                </li>
                                <li class="hover-mouse-pointer">
                                    <a href="/user-login">Login</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <% } %>
                </ul>
                <form action="get">
                    <input type="text" name="search" placeholder="search" />
                    <button class="search-btn cursor-pointer" id="search-btn">Search</button>
                </form>
                <div id="three-bars" class="menu-btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </navbar>
